$primary-soft-blue: hsl(215, 51%, 70%);
$primary-cyan: hsl(178, 100%, 50%);
$background: hsl(217, 54%, 11%);
$card-background: hsl(216, 50%, 16%);
$divider: hsl(215, 32%, 27%);
$outfit: 'Outfit', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
	background: $background;
  color: $primary-cyan;
  font-family: $outfit;
  margin: 0;
  height: 100vh;

}

p {
  color: $primary-soft-blue;
}
 
main {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 95vh;
}

// *************** MAIN *****************

.card {
  max-width: 90%;
  width: 350px;
  max-width: 90%;
  height: 600px;
  padding: 25px;
  background-color: $card-background;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadein 2s;
  filter: drop-shadow(0 0 2rem hsl(216, 50%, 4%));
}

.thumbnail {
  position: relative;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  .image {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .image {
    max-width: 95%;
  }
  .thumbnail-color {
    max-width: 95%;
    max-height: 100%;
  }

  .attribution {
    font-size: 14px !important;
  }
}

@media (hover: hover) {
  .thumbnail:hover {
    .view-icon {
      opacity: 1;
    }
    .thumbnail-color {
      opacity: 0.5;
    }
  }
}

.thumbnail-color {
  width: 300px;
  height: 300px;
  top: 0;
  position: absolute;
  border-radius: 10px;
  background: $primary-cyan;
  opacity: 0;
  transition: 0.5s;
}

.view-icon {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.title {
  font-weight: 400;
  width: fit-content;
  color: white;
  margin-top: 10px;
  transition: 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .title:hover, .highlight:hover{
    color: $primary-cyan !important;
  }
}

@media (hover: hover) {
  .highlight:hover {
    color: $primary-cyan;
  }
}

.statement {
  font-weight: 200;
  color: $primary-soft-blue;
  line-height: 1.6em;
}

.stats-section {
  display: flex;
  justify-content: space-between;
  color: $primary-soft-blue;
  * {
    display: flex;
    gap: 6px;
  }

  .price-section {
    font-weight: 400;
    .price {
     color: $primary-cyan;
    }
  }

  .time-section {
    font-weight: 200;
    display: flex;
    align-items: center;
    .time-icon {
      width: 18px;
      height: 18px;
    }
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: hsl(215, 25%, 30%);
  border-radius: 25px;
}

.author-section {
  display: flex;
  align-items: center;
  gap: 15px;
  img {
    width: 35px;
    border-radius: 50%;
    border: white solid 1px;
  }
  p {
    font-weight: 200;
    .highlight {
      color: white;
      transition: 0.3s;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

// *************** FOOTER *****************

footer {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: 16px; 
  font-weight: 300;
  text-align: center;
  position: fixed;
  bottom: 1%;
  max-width: 95%;
  color: $primary-soft-blue;
  animation: fadefrombottom 1s;
  a { 
    color: white;
    text-decoration: none;
  }
}

// *************** UTILITIES *****************

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadefrombottom {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  40% {
    opacity: 0.3;
  }
  100% { opacity: 1 }
}
